body{
  min-height: 150vh;
  background-color: #282c34;
  color: white;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  display: flex;
  padding: 0.8em 0;
}

.item{
  flex: 1;
  text-decoration: none;
  color: white;
  text-decoration: none;
}

div.home{
  text-decoration: none;
}

input{
  margin: 0 0 20px 0;
}
